In [1]:
# session 1 of Python for everyone

print("Hello")

Hello

In [3]:
#datatypes
#int 
a=10
type(a)

int

In [6]:
#string
b="hello"
c='a'
type(b)

str

In [5]:
type(c)

str

In [7]:
#float
d=10.56
type(d)

float

In [8]:
# now lets convert one data type to another

#integer to float
float(10)

10.0

In [9]:
#float to integer
int(55.58)

55

In [10]:
#string to in
int('5')

5

In [13]:
#integer to string
str(105)

'105'

In [14]:
#float to str

str(10.256)

'10.256'

In [15]:
#string to float
float('25.5')

25.5

In [18]:
#to know the type of data just print the data into type
#example
type(12.5)
type('hello')
type(2)

int

In [19]:
#boolean value
bool(1)

True

In [20]:
bool(0)

False

In [ ]:
# we will discus later how to use all this type in our program
# end Session 1