In [28]:
#tuple in python
#tuple is immutable

In [ ]:
#syntax tuplename = (values)
#example

In [34]:
t1 = (1,2,3)
print(t1)

(1, 2, 3)

In [36]:
#print slected value for example print secind value from the t1
print(t1[0])

1

In [39]:
#tuple can contain any value like int,string,float
t2 = (1,'hello',1.1,"mr.robot")
print(t2)

(1, 'hello', 1.1, 'mr.robot')

In [40]:
#now let's print selected values from the tuple
print(t2[0])
print(t2[1])
print(t2[2])
print(t2[3])

1
hello
1.1
mr.robot

In [16]:
tuple1[1:4:2]

(1, 'MrRobot')

In [44]:
#let's print eben and odd values from the tuple t2
print("odd->",t2[0:4:2])
print("even->",t2[1:4:2])

odd-> (1, 1.1)
even-> ('hello', 'mr.robot')

In [45]:
#tuple is immutable
t3=(1,2)
t3[0]=4
#when you run this cell it will show error because we try to change the 
#value from the tuple t3

TypeError: 'tuple' object does not support item assignment

In [47]:
#function and operation

t4 = (1,'a','b',2,'c')

#LENGTH of tuple

len(t4)

5

In [49]:
#CONCATION of 2 tuple
t5 = t4+t4
print(t5)

(1, 'a', 'b', 2, 'c', 1, 'a', 'b', 2, 'c')

In [50]:
#TYPE of tuple is tuple

type(t4)

tuple

In [51]:
#MEMBERSHIP in python will return true if element is present else 
#return false

1 in t4

True

In [52]:
5 in t4

False

In [55]:
#tuple nesting

t5 = ('A',t4,"B")
print(t5)

('A', (1, 'a', 'b', 2, 'c'), 'B')

In [56]:
#as you can see T5 is tuple and also contian tuple within

#now lets print it will treat inner tuple as an element

print(t5[0])
print(t5[1])
print(t5[2])

A
(1, 'a', 'b', 2, 'c')
B

In [58]:
#now lets print sub values form the tuple T5

print(t5[1][0])
print(t5[1][1])
print(t5[1][2])

1
a
b

In [59]:
#indexing positive and negative

t6 = (1,'a','b','f',2)
#     0  1  2  3  4
#     -5 -4 -3 -2 -1

print(t6[3])
print(t6[-3])

f
b

In [ ]:
#so this is all about Tuple

In [ ]:
# don't mug up just practice so that you can uderstand

In [ ]:
#if you have query then put your comment in blog Thanks